.listvariations{
    position: absolute;
    top:10em;
    position: sticky;
    display: flex;
    justify-content: center;
  
}
.list{
    position: absolute;
    background-color: white;
    border: 1px solid #AEC2EA;
    border-radius: 20px;
    max-width: 50%;
    
}
.nameheader{
   display: flex;
    
    justify-content:space-between;
    align-items:flex-start;
    padding-left: 10px;
    font-size: 14pt;
    border: 1px solid #AEC2EA;
    border-radius: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.name{
width: 80%;
font-size: 16pt;
font-weight: 500;
}
.discription{
    font-size: 10pt;
}

.item{
    padding: 10px;
    margin:5px;
    border-radius: 10px;
    width: 300px;
}
.item:hover{
    cursor: pointer;
    background-color: rgb(233, 235, 235);
}
.selectvariationid{
    color: red;
}
.imgSmall{
    width: 100px;
    margin: 5px;
}
.images{
    display: flex;
    margin-top: 5px;
    justify-content:space-evenly;
}
.itemsVariations{
    display: flex;
    flex-wrap: wrap;
}
.price{
    font-size: 14pt;
    font-weight: 500;
}